/* general styling */

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
}

/* scoreboard */

#screen-container {
    background-color: #E7856Dff;
}

#scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin: 20px;
    font-weight: bold;
    font-size: 36px;
}

#result {
    text-align: center;
    padding: 10px;
    border-radius: 5px;

}

#play-again-button{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #000000ff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}

/* div container */

.container {
    height: 50vh;
    background-color: #F65947ff;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* rpsls buttons */

#choices {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px
}

#choices button {
    width: 100px;
    height: 50px;
    margin: 10px;
    background-color: #Fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #3a3a3a;
}

#choices button:hover {
    scale: 1.1;
    cursor: pointer;
    background-color: #dfdddd;
}

/* rpsls section */

#rpsls-section {
    display: flex;
    justify-content: space-between;
}

#rpsls-img {
    width: 30%;
    height: auto;
    margin-right: 100px;
    margin-bottom: 100px;
}